<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<!-- words -->
<!-- Main Site -->


<link rel="stylesheet" href="/css/admin.css">

  <h1>Student Orders</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Order</th>
        <th>Pickup Period</th>
        <th>delete</th>
      </tr>

      <!-- The current code is just a test to see if I know how to do the admin list populating -->

      <% for (let item of items) { %>
        <tr>
          <th><%= item.name %></th>
          <th><%= item.price %></th>
          <th><%= item.description %></th>
          <th><%= item.size %></th>
        </tr>
      <% } %>

      <!-- Needs to be changed once the order list is created -->

    </table>
  </div>

</main>

<!-- /Main Site -->



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
