<%- include('include/_header') %>

<link rel="stylesheet" href="/css/orderViewer.css" />

<main>
  <div class="wrapper">
    <h1>Completed Orders</h1>
    <table id="orders-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Pickup Time</th>
          <th>Total Price</th>
          <th>Status</th>
          <th>View Items</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < completedOrders.length; i++) { %>
        <tr
          id="order-<%=i%>"
          class="order-row"
          data-items="<%= JSON.stringify(completedOrders[i].items) %>"
        >
          <td><%= completedOrders[i].name %></td>
          <td><%= completedOrders[i].email %></td>
          <td><%= completedOrders[i].orderNumber %></td>
          <td><%= completedOrders[i].date %></td>
          <td><%= completedOrders[i].period %></td>
          <td><%= completedOrders[i].date %>ders[i].orderStatus %></td>
          <td><button class="view-items-completed">View Items</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<%- include('include/_footer') %>

<script src="/js/completedOrderViewer.js"></script>
