<%- include('include/_header') %>

<main>
  <div class="wrapper">
  <div class = add-items>
  <h1>Add Item</h1>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" value = "<%- item.name %>" required />
    <label for="price">Price</label>
    <input type="float" id="price" name="price" value = "<%- item.price %>" required />
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" value = "<%- item.quantity %>" required />
    <label for="description">Description</label>
    <input type = "text" id="description" name="description" value = "<%- item.description %>" />
    <label for = "image">Image</label>
  <input type = "file" id="image" name="image" accept="image/*" />

    <input type="submit" class = "submit" value="Add Item" /> -->
  <div>
  <div>
</main> 


<script src="/js/editItem.js"></script> 

<%- include('include/_footer') %>