<%- include('include/_header') %>

<link rel="stylesheet" href="/css/editItem.css" />

<main>
  <div class="wrapper">
    <div class="add-items">
      <h1>Edit Item</h1>

      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%- item.name %>"
        required
      />
      <label for="price">Price</label>
      <input
        type="float"
        id="price"
        name="price"
        value="<%- item.price %>"
        required
      />
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        name="description"
        value="<%- item.description %>"
      />
      <label for="image">Image</label>
      <!-- File upload for image input -->

      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        value="<%- item.image %>"
      />

      <h2>Sizes</h2>
      <div id="sizes">
        <% if (item.sizes.placeholder === undefined) { %> <% for (let size in
        item.sizes) { %>
        <div class="size-entry">
          <input type="text" class="size" value="<%= size %>" />
          <input
            type="number"
            class="quantity"
            value="<%= item.sizes[size] %>"
          />
          <button type="button" class="delete-size">- Remove Size</button>
        </div>
        <% } %> <% } else { %>
        <label>Quantity</label>
        <input
          type="number"
          class="quantity"
          value="<%= item.sizes.placeholder %>"
        />
        <% } %>
      </div>

      <% if (item.sizes.placeholder === undefined) { %>
      <button id="add-size" type="button">Add Size</button>
      <% } %>

      <input type="submit" class="submit" value="Save Edits" />
    </div>
  </div>
  <input type="hidden" class="itemId" id="id" value="<%- item.id %>" />
</main>

<script src="/dist/editItem.bundle.js"></script>

<%- include('include/_footer') %>
