
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->

<link rel="stylesheet" href="/css/splashPage.css" />
    
<main>
  <!-- Popup Modal -->
  <div id="popup-modal" class="popup-modal">
    <div class="popup-content">
      <button class="popup-close" id="popup-close-btn">&times;</button>
      <!-- Popup content goes here -->
    </div>
  </div>

  <div class="wrapper">

    <img src = "/img/Store-Front.png" class = "store-front" alt = "Store Front" />
  
  <section class="store-info">
    <h1>Naperville North Huskie Store</h1>
    <p>
      The Huskie Store is open on school days Monday through Friday during 4th,
      5th, and 6th period.
    </p>

    <div class="store-hours">
      <h2>Hours</h2>
      <ul>
        <li><strong>Monday:</strong> 10:36am - 1:18pm</li>
        <li><strong>Tuesday:</strong> 11:05am - 1:30pm</li>
        <li><strong>Wednesday:</strong> 11:21am - 1:36pm</li>
        <li><strong>Thursday:</strong> 11:05am - 1:30pm</li>
        <li><strong>Friday:</strong> 10:36am - 1:18pm</li>
      </ul>
    

    </div>

  </section>

  <img id="imagePreview" alt="Image Preview" style="display:none;">


  <% if (session && session.clearance >= 2) { %>
    <div class = "item-list"> 
      <% items.forEach(function(item) { %>
        <div class = "item" onclick= "window.location.href='/item/<%= item.id %>'">
          <img src="<%= item.image %>">
          <div class = "item-content">
          <h2><%= item.name %></h2>
          <h3>Price: $<%= item.price %></h3>
          <p>Description: <%= item.description %></p>
          </div>
      </div>
      <% }) %>
    </div>
    <% } else if (session && session.clearance >= 1) { %>
    <div class = "item-list"> 
      <% items.forEach(function(item) { %>
        <div class = "item" id = "not-logged-in-as-student">
          <img src="<%= item.image %>">
          <div class = "item-content">
          <h2><%= item.name %></h2>
          <p>Price: $<%= item.price %></p>
          </div>
      </div>
     <% }) } else { %>
    <div class = "item-list"> 
      <% items.forEach(function(item) { %>
        <div class = "item" id = "not-logged-in">
          <img src="<%= item.image %>">
          <div class = "item-content">
          <h2><%= item.name %></h2>
          <p>Price: $<%= item.price %></p>
          </div>
      </div>
      <% }) %>
    </div>
  <% } %>
</main>

<!-- /Main Site -->

<script src="/js/homePage.js"></script>
<script src="/js/splashPage.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

<script>
  let notLoggedInItems = document.querySelectorAll("#not-logged-in");
  let notLoggedInAsStudentItems = document.querySelectorAll("#not-logged-in-as-student");

  notLoggedInItems.forEach(item => {
    item.addEventListener("click", function() {
      alert("Please log in to view item details.");
    });
  });

  notLoggedInAsStudentItems.forEach(item => {
    item.addEventListener("click", function() {
      alert("Please log in as a student to view item details.");
    });
  });
</script>