
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->

    
<main>
  <div class="wrapper">

    <img src = "/img/Store-Front.png" class = "store-front" alt = "Store Front" />
  
  <section class="store-info">
    <h1>Naperville North Huskie Store</h1>
    <p>
      The Huskie Store is open on school days Monday through Friday during 4th,
      5th, and 6th period.
    </p>

    <div class="store-hours">
      <h2>Hours</h2>
      <ul>
        <li><strong>Monday:</strong> 10:36am - 1:18pm</li>
        <li><strong>Tuesday:</strong> 11:05am - 1:30pm</li>
        <li><strong>Wednesday:</strong> 11:21am - 1:36pm</li>
        <li><strong>Thursday:</strong> 11:05am - 1:30pm</li>
        <li><strong>Friday:</strong> 10:36am - 1:18pm</li>
      </ul>
    

    </div>

  </section>

  <img id="imagePreview" alt="Image Preview" style="display:none;">
  
    <div class = "item-list"> 
      <% items.forEach(function(item) { %>
        <div class = "item" onclick= "window.location.href='/item/<%= item.id %>'">
          <img src="<%= item.image %>">
          <div class = "item-content">
          <h2><%= item.name %></h2>
          <p>Price: $<%= item.price %></p>
          <p>Description: <%= item.description %></p>
          </div>
      </div>
      <% }) %>
    </div>

</main>

<!-- /Main Site -->

<script src="/js/homePage.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
