<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main class="bg-gray-100 text-gray-900">
  <div class="container mx-auto py-10">
    <section class="store-info text-center mb-10">
      <h1 class="text-4xl font-bold text-blue-900 mb-4">
        Naperville North Huskie Store
      </h1>
      <p class="text-lg mb-6">
        The Huskie Store is open on school days Monday through Friday during
        4th, 5th, and 6th period.
      </p>

      <div class="store-hours bg-white p-6 rounded-lg shadow-lg inline-block">
        <h2 class="text-2xl font-bold text-blue-900 mb-4">Hours</h2>
        <ul class="text-left">
          <li class="mb-2"><strong>Monday:</strong> 10:36am - 1:18pm</li>
          <li class="mb-2"><strong>Tuesday:</strong> 11:05am - 1:30pm</li>
          <li class="mb-2"><strong>Wednesday:</strong> 11:21am - 1:36pm</li>
          <li class="mb-2"><strong>Thursday:</strong> 11:05am - 1:30pm</li>
          <li class="mb-2"><strong>Friday:</strong> 10:36am - 1:18pm</li>
        </ul>
      </div>
    </section>

    <section
      class="item-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      <% items.forEach(function(item) { %>
      <div
        class="item bg-white p-6 rounded-lg shadow-lg cursor-pointer"
        onclick="window.location.href='/item/<%= item.id %>'"
      >
        <img
          src="<%= item.image %>"
          alt="<%= item.name %>"
          class="h-40 w-full object-cover mb-4 rounded"
        />
        <div class="item-content">
          <h2 class="text-2xl font-bold mb-2"><%= item.name %></h2>
          <p class="text-gray-700 mb-2">Price: $<%= item.price %></p>
          <p class="text-gray-700">Description: <%= item.description %></p>
        </div>
      </div>
      <% }) %>
    </section>
  </div>
</main>

<!-- /Main Site -->

<script src="/js/homePage.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
