<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/admin.css">

<main>
  <!-- https://naperville203org-my.sharepoint.com/:x:/g/personal/bmpozzi_stu_naperville203_org/EWsbNgTQvSVAkZxw94fq2wUBdjhzyDTGxa2Yf-qkomqeyg?e=peAB8F -->
  <h1>Print</h1>

  <a class="admin-link" href="inventorylistprint" id="inventorylistprint"><strong>Print</strong></a>

  

  <h1>Inventory Spreadsheet</h1>

  <table>
    <tr>
      <th colspan = "10"> Items & Quantities </th> <!-- The colspan is set to 10 to make sure that the top row stretches over all of the columns -->
    </tr>
    <% items.forEach(function(item) { %>
    <tr>
      <th> <%= item.name %> </th>
      <% if (item.sizes) { %> 
        <% for (let size in item.sizes) { %>
          <% if (size == "placeholder") { %>
            <th> <%= item.sizes[size] %> </th>
          <% } %>
          <% if (size != "placeholder") { %>
            <th> <%= size + ": " + item.sizes[size] %> </th>
          <% } %>
      <% } %>
      <% } %>
    </tr>
    <% }) %>
  </table>

</main>



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->