<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/admin.css">

<main> 
  <h1>Print</h1>

  <a class="admin-link" href="inventorylistprint" id="inventorylistprint"><strong>Print</strong></a>

  

  <h1>Inventory Spreadsheet</h1>

  <table>
    <% items.forEach(function(item) { %>
    <th colspan = 10>
      <b> <%= item.name %> </b>
    </th>
    <tr></tr>
      <% for (let size in item.sizes) { %>
        <% if (size == "placeholder") { %>
          <th> <%= item.sizes[size] %> </th>
        <% } %>
        <% if (size != "placeholder") { %>
          <th> <%= size + ": " + item.sizes[size] %> </th>
        <% } %>
      <% } %>
    <tr></tr>
    <% }) %>
  </table>

</main>



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->