<%- include('include/_header') -%>

<!-- <link rel="stylesheet" href="/css/itemPage.css" /> -->

<div class="wrapper">
  <img class="item-image" src="<%= item.image %>" />

  <div class="item-content">
    <h1><strong><%= item.name %></strong></h1>
    <p>Price: $<%= item.price %></p>
    <p>Description: <%= item.description %></p>

    <% if (item.sizes) { %>
    <div class="size-selector">
      <label for="size">Select size:</label>
      <select id="size" name="size">
        <% for (let size in item.sizes) { %>
        <option value="<%= size %>" data-quantity="<%= item.sizes[size] %>">
          <%= size %>
        </option>
        <% } %>
      </select>
      <% }%>
    </div>

    <label for="quantity">Quantity:</label>
    <select id="quantity">
      <% for (let i = 1; i <= Math.min(10, item.sizes[0]); i++) { %>
      <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
    <input type="submit" id="add-to-cart" class="submit" value="Add to Cart" />
  </div>
</div>
<input type="hidden" id="itemId" value="<%= item.id %>" />
<input type="hidden" id="googleId" value="<%= session.user.googleId %>" />

<script src="/js/itemPage.js"></script>

<%- include('include/_footer') -%>
