<%- include('include/_header') -%>

<link rel="stylesheet" href="/css/itemPage.css" />

<div class="wrapper">
  <img class="item-image" src="<%= item.image %>" />

  <div class="item-container">
    <div class="item-info">
      <div class="item-content">
        <h1><strong><%= item.name %></strong></h1>
        <p><strong>Price: $<%= item.price %></strong></p>
        <p><%= item.description %></p>

        <% if (item.sizes.placeholder === undefined) { %>
        <div class="size-selector">
          <label for="size">Type:</label>
          <select id="size" name="size">
            <% for (let size in item.sizes) { %>
            <option value="<%= size %>" data-quantity="<%= item.sizes[size] %>">
              <%= size %>
            </option>
            <% } %>
          </select>
          <% }%>
        </div>
      </div>

      <div class="item-actions">
        <div class="quantity-selector">
          <label for="quantity" id="quantity-label">Quantity:</label>
          <select id="quantity">
            <% for (let i = 1; i <= Math.min(10, item.sizes[0]); i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
        </div>
        <input
          type="submit"
          id="add-to-cart"
          class="submit"
          value="Add to Cart"
        />
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="itemId" value="<%= item.id %>" />
<input type="hidden" id="googleId" value="<%= session.user.googleId %>" />

<script src="/js/itemPage.js"></script>

<%- include('include/_footer') -%>
