<%- include('include/_header') -%>

<link rel="stylesheet" href="/css/itemPage.css" />

<div class="wrapper">
  <img class="item-image" src="<%= item.image %>" />

  <div class="item-content">
    <h1><strong><%= item.name %></strong></h1>
    <p>Price: $<%= item.price %></p>
    <p>Description: <%= item.description %></p>

    <% if (item.sizes.placeholder === undefined) { %>
    <div class="size-selector">
      <label for="size">Select size:</label>
      <select id="size" name="size">
        <% if (item.sizes) { %> <% for (let size in item.sizes) { %>
        <option value="<%= size %>"><%= size %></option>
        <% } %> <% }%>
      </select>
    </div>
    <% } %>

    <label>Quantity</label>
    <input
      class="quantity"
      type="number"
      name="quantity"
      value="1"
      min="1"
      max="100"
    />
    <input
      type="submit"
      id="add-to-cart-button"
      class="submit"
      value="Add to Cart"
    />
  </div>
  <input type="hidden" id="item-id" value="<%= item._id %>" />
</div>

<%- include('include/_footer') -%>
