<%- include('header') -%>

<div class="wrapper">
  <img src="<%= item.image %>" />
  <div class="item-content">
    <h2><%= item.name %></h2>
    <p>Price: $<%= item.price %></p>
    <p>Description: <%= item.description %></p>
  </div>

  <div class="size-selector">
    <label for="size">Select size:</label>
    <select id="size" name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="Large"></option>
    </select>
  </div>
</div>

<%- include('footer') -%>
