<%- include('include/_header') %>

<link rel="stylesheet" href="/css/orderViewer.css" />

<main>
  <div class="wrapper">
    <h1>Student Orders</h1>
    <h2>Pending Orders</h2>
    <table id="orders-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Date</th>
          <th>Period</th>
          <th>Total Price</th>
          <th>Check off Order</th>
          <th>Cancel Order</th>
          <th>Status</th>
          <th>View Items</th>
        </tr>
      </thead>
      <tbody>
        <% const currentDate = new Date(); %> <% for (let i = 0; i <
        pendingOrders.length; i++) { %> <% const pickupDate = new
        Date(pendingOrders[i].date); %>
        <tr
          id="order-<%=i%>"
          class="order-row <%= pickupDate < currentDate ? 'late-order' : '' %>"
          data-items="<%= JSON.stringify(pendingOrders[i].items) %>"
        >
          <td><%= pendingOrders[i].name %></td>
          <td><%= pendingOrders[i].email %></td>
          <td><%= pendingOrders[i].orderNumber %></td>
          <td><%= pendingOrders[i].date %></td>
          <td><%= pendingOrders[i].period %></td>
          <td>$<%= pendingOrders[i].totalPrice %></td>
          <td>
            <button class="check-off-order" order-id="<%=pendingOrders[i].id%>">
              Check off Order
            </button>
          </td>
          <td>
            <button class="delete-order" order-id="<%=pendingOrders[i].id%>">
              Cancel Order
            </button>
          </td>
          <td class="status"><%= pendingOrders[i].orderStatus %></td>
          <td><button class="view-items">View Items</button></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <a class="export-link" href="<%= xlsxDownload %>" download="current_orders.xlsx">Download XLSX Spreadsheet</a>

    <div class="completed-order">
      <h2>Completed Orders</h2>
      <a href="/completedOrderViewer" class="completed-order-link"
        >View Past Completed Orders</a
      >
    </div>
  </div>
</main>

<%- include('include/_footer') %>

<script src="/js/orderViewer.js"></script>
