<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<link rel="stylesheet" href="/css/userOrderView.css" />

<!-- Main Site -->

<main>
  <div class="wrapper">
    <div class="overflow-wrapper">
      <h1>Your Upcoming Orders</h1>
      <% for (const order of userOrders) { %>
      <div class="order-block">
        <h2>Date: <em><%= ((new Date(order.date)).toUTCString()).split(" 00:00:00 GMT")[0] %></em></h2>
        <h2>Pickup Time: <em><%= order.period %></em></h2>
        <h2>Total: <em>$<%= order.totalPrice %></em></h2>
        <table class="order-items">
          <tr>
            <th colspan="3" class="main-heading">Items</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Quantity</th>
          </tr>
        <% for (const item of order.items) { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.size %></td>
            <td><%= item.quantity %></td>
          </tr>
        <% } %>
        </table>
        <p>Order <em>#<%= order.orderNumber %></em></p>
      </div>
      <% } %>


      <br><br><br><hr>
      <h1>Your Past Orders</h1>
      <% for (const order of completedOrders) { %>
      <div class="order-block">
        <h2>Date: <em><%= ((new Date(order.date)).toUTCString()).split(" 00:00:00 GMT")[0] %></em></h2>
        <h2>Total: <em>$<%= order.totalPrice %></em></h2>
        <table class="order-items">
          <tr>
            <th colspan="3" class="main-heading">Items</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Quantity</th>
          </tr>
        <% for (const item of order.items) { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.size %></td>
            <td><%= item.quantity %></td>
          </tr>
        <% } %>
        </table>
        <p>Order <em>#<%= order.orderNumber %></em></p>
      </div>
      <% } %>
    </div>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
